name: Check AnimNode duplicates match

env:
  ANIMSETS_PATH_42: Contents/mods/HorseMod/42/AnimSets/**.xml
  ANIMSETS_PATH_41: Contents/mods/HorseMod/AnimSets/**.xml

on:
  push:
    paths:
      - Contents/mods/HorseMod/42/AnimSets/**.xml
      - Contents/mods/HorseMod/AnimSets/**.xml
  pull_request:

jobs:
  animNodeDuplicates:
    name: Check AnimNode duplicates match
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Checkout branch
      
      - name: Check duplicates
        if: ${{ hashFiles(env.ANIMSETS_PATH_42) != hashFiles(env.ANIMSETS_PATH_41) }}
        run: exit 1
